# EditorConfig is awesome: https://EditorConfig.org

# Top Most Editorconfig file
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
chatset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# .MD files
[*.md]
indent_size = 5
