include:
  - project: "internal/templates/gitlab-templates"
    ref: "main"
    file: "/.gitlab-release.yml"

  - project: "internal/templates/gitlab-templates"
    ref: "main"
    file: "/.gitlab-ansible.yml"

  - project: "internal/templates/gitlab-templates"
    ref: "main"
    file: "/.gitlab-molecule.yml"

stages:
  - release
  - lint
  - molecule

ansible-lint:
  extends: .ansible-lint-template
  stage: lint
  allow_failure: false
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop" && $CI_PIPELINE_SOURCE == "merge_request_event"'
